services:
  ngrok:
    entrypoint: ["echo", "ngrok disabled in dev mode"]

  proxy:
    logging:
      driver: none
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf

  db:
    logging:
      driver: none

  server:
    build:
      context: .
      dockerfile: Dockerfile-dev
    command: nodemon --watch server /usr/src/app/server/app.js
    volumes:
      - ./server/:/usr/src/app/server
      - ./client/:/usr/src/app/client
      - ./auth-client/:/usr/src/app/auth-client
    environment:
      - NODE_ENV=development
      - SESSION_SECRET="Shhh... development only"