.bucket-group {
    background-color: #FFF;
    margin: 1rem;
    padding: .7rem;

    &>.label {
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.bucket {
    background-color: #FFF;
    margin: 1rem;
    margin-top: 0;
    padding: .7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.transaction-hovered {
        background-color: lightgrey;
    }

    &>.label {
        width: 100%;
        margin-right: .5rem;
    }
}

.bucket-group .bucket {
    padding-top: 0;
    padding-left: 0;
}