.card {
    margin: 1rem;
    padding: .7rem;
    border-radius: 8px;

    &:not(.skin-dashed) {
        background-color: #FFF;
        box-shadow: 0 1px 3px 0 rgba(31,36,38,.1);
    }

    &.skin-dashed {
        border: dashed 2px lightgrey;
    }
}