.add-transaction-button {
  border-radius: 100%;

  background-color: rgb(223, 154, 26);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;

  position: fixed;
  left: 1rem;
  bottom: 1rem;

  width: 3rem;
  height: 3rem;

  cursor: pointer;

  &:hover {
    background-color: rgb(179, 134, 53);
  }
}

.add-transaction__modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  .add-transaction__modal-body {
    height: 100%;
  }
}
