:root {
  --red: red;
  --red-dark: #b51919;

  --blue: #0091d9;
  --blue-dark: #006fa6;

  --green: #62ce66;

  --background: rgb(49, 52, 61);
  --background-light: rgb(83, 87, 94);

  --purple: rgb(119, 124, 159);
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;

  background-color: var(--background);
}

.main-content {
  display: grid;
  grid-template-columns: 17rem auto 23rem;
  grid-template-rows: auto;

  column-gap: 10px;

  margin: 0 .5rem;
  margin-top: 1rem;
}

.rhp {
  grid-column-start: 3;

  display: flex;
  flex-direction: column;

  .details-panel {
    height: 100%;
  }
}

.text-input {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.3rem;
  margin: 0.2rem 0;

  &:hover:not(.editing) {
    border-color: var(--background);
    background-color: var(--background);
  }

  &.editing {
    border-color: var(--blue-dark);
  }

  input[type='text'] {
    width: 100%;
    outline: none;
    border: none;
  }
}
