:root {
  --red: red;
  --red-dark: #b51919;

  --blue: #0091d9;
  --blue-dark: #006fa6;

  --green: #62ce66;

  --background: #f5f7f8;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;

  background-color: #f5f7f8;
}

#root {
  display: grid;
  grid-template-columns: 20rem auto 30rem;
  grid-template-rows: auto;

  column-gap: 10px;
}

.main-content {
  // width: 100%;
  grid-column-start: 2;
}

.rhp {
  grid-column-start: 3;

  display: flex;
  flex-direction: column;

  .details-panel {
    height: 100%;
  }
}

.link {
  cursor: pointer;
  // font-weight: 600;
  color: var(--blue);

  font-size: 0.8rem;

  &:hover {
    color: var(--blue-dark);
  }
}

.text-input {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.3rem;
  margin: 0.2rem 0;

  &:hover:not(.editing) {
    border-color: var(--background);
    background-color: var(--background);
  }

  &.editing {
    border-color: var(--blue-dark);
  }

  input[type='text'] {
    width: 100%;
    outline: none;
    border: none;
  }
}
