html, body, #root {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;

    background-color: #f5f7f8;
}

#root {
    display: grid;
    grid-template-columns: 20rem auto 30rem;
    grid-template-rows: auto;
    
    column-gap: 10px;
}

.main-content {
    // width: 100%;
    grid-column-start: 2;
}

.rhp {
    grid-column-start: 3;

    display: flex;
    flex-direction: column;

    .details-panel {
        height: 100%;
    }
}

.link {
    cursor: pointer;
    // font-weight: 600;
    color: #0091d9;

    font-size: .8rem;

    &:hover {
        color: #006fa6;
    }
}

.text-input {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: .3rem;
    margin: .2rem 0;

    &:hover:not(.editing) {
        border-color: #f5f7f8;
        background-color: #f5f7f8;
    }

    &.editing {
        border-color: #006fa6;
    }

    input[type=text] {
        width: 100%;
        outline: none;
        border: none;
    }
}