

.bucket-group {
    &>.label {
        font-weight: 900;
        color: #69757a;
        margin-bottom: .5rem;
    }
}

.bucket {
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.transaction-hovered {
        background-color: lightgrey;
    }

    &>.label {
        width: 100%;
        margin-right: .5rem;
    }
}

.bucket-group .bucket {
    padding-top: 0;
    padding-left: 0;
}