

.bucket-group {
    &>.label {
        font-weight: 900;
        color: #69757a;
        margin-bottom: .5rem;
    }
}

.bucket {
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: .7rem;

    &.transaction-hovered {
        background-color: lightgrey;
    }

    &>.label {
        flex-grow: 1;
        margin-right: .5rem;
    }

    &>.max-amount {
        flex-grow: 0;
    }

    &>.amount-slider {
        margin-top: .7rem;
        width: 100%;
    }

}

.bucket-group .bucket {
    padding-top: 0;
    padding-left: 0;
}