.month-selector {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .current-month-label {
        display: flex;
        align-items: baseline;

        .month {
            font-size: 1.7rem;
            font-weight: 600;
        }
    
        .year {
            margin-left:.5rem;
            font-weight: 100;
        }
    }

    .change-month-arrow {
        user-select: none;
        color: #0091d9;
        font-size: 1.5rem;
        margin: 0 .3rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: #035d8a;
        }
    }

}