.tabs {
    display: flex;
    justify-content: center;

    &>.tab {
        width: 4rem;
        margin: 0 .5rem;
        text-align: center;
        cursor: pointer;

        &.selected {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}