.transactions {
    position: fixed;
    bottom: 0;
    display: flex;
}

.transaction {
    margin: .5rem;
    margin-right: 0;
    border-radius: 100%;
    border: solid 2px orange;
    width: 5rem;
    height: 5rem;
    background-color: #fff;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .amount {
        font-weight: 600;
        font-size: 1.1rem;
    }

    .merchant {
        color: lightgrey;
        font-size: .8rem;
    }
}