name: Client Tests

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        
      - name: Install modules
        working-directory: client
        run: yarn
        
      - name: Run Tests
        working-directory: client
        run: yarn test:coverage
        
      - name: Report Coverage
        uses: codecov/codecov-action@v1
        with:
          directory: client
          
