name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Dependencies
        working-directory: client
        run: yarn
      
      - name: Lint
        uses: mooyoul/tslint-actions@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pattern: '*.ts|*.tsx'
          config: client/tslint.json

      - name: Prettify code
        uses: creyD/prettier_action@v3.1
        with:
          dry: true

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        
      - name: Dependencies
        working-directory: client
        run: yarn
        
      - name: Run Tests
        working-directory: client
        run: yarn test:coverage
        
      - name: Report Coverage
        uses: codecov/codecov-action@v1
        with:
          directory: client
          
